*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    line-height: normal;
    background-color: black;
}
:root{
    --colors-white: #FFF;
    --colors-grey: #EBEAED;
    --colors-text: #C2C2CC;
    --colors-text-secondary: rgba(21, 20, 57, 0.40);
    --action-secondary: #482BE7;
    --socials-twitter: #1DA1F2;
    --action-primary: #25DAC5;
}







.header-14 {
    position: relative;
    background-color: #2f1893;
    width: 1400px;
    height: 890px;
    overflow: hidden;
    text-align: left;
    font-size: 18px;
    color: #fff;
    font-family: 'DM Sans';
    margin: auto;
    margin-top: 2rem;
}





/* ----MENU---- */
.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 972px;
    height: 40px;
    flex-shrink: 0;
    top: 65px;
    left: 213px;
    right: 215px;
}

.white {
    display: flex;
    width: 111px;
    height: 19px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.placeholder{
    display: flex;
    width: 111px;
    height: 19px;
    padding: 0px 3px 0px 2px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.startup-3 {
    color: var(--colors-white, #FFF);
    text-align: center;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.293px;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 503px;
    height: 40px;
    flex-shrink: 0;
}

.menu-links{
    color: var(--colors-white, #FFF);
}
.menu-links:first-child{
    opacity: 0.3;
}

.purchase-button {
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    border: none;
    border-radius: 100px;
    color: white;
    background-color: #e93a7d;
}





/* ----TEXT SECTION---- */
.text{
    position: absolute;
    top: 219px;
    left: 209px;
    width: 427px;
    height: 496px;
    flex-shrink: 0;
}

.text-inside{
    position: relative;
    height: 100%;
    width: 100%;
}

.text-inside > h2{
    width: 424px;
    height: 217px;
    padding-left: 3px;
    margin-bottom: 24px;
}

.text-inside > h5{
    margin-left: 3px;
    margin-bottom: 45px;
    width: 363px;
}

.text-button {
    width: 157px;
    height: 50px;
    flex-shrink: 0;
    border: none;
    color: white;
    border-radius: 100px;
    background-color: #E93A7D;
}







/* SIGN IN FORM */
.sign-up-form {
    position: absolute;
    top: 187px;
    left: 715px;
    bottom: 103px;
    right: 215px;
    width: 470px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--colors-white, #FFF);
}

.form-container{
    position: relative;
    height: 100%;
    width: 100%;
}


.form-header{
    position: absolute;
    top: 48px;
    left: 114px;
    text-align: center;
    color: #1E0E62;
    margin: 0;
}
.middle-dark-outline{
    position: absolute;
    left: 70px;
    width: 330px;
    height: 50px;
    flex-shrink: 0;
}
.middle-dark-outline1{
    top: 134px;
}
.middle-dark-outline2{
    top: 204px;
}
.form-input{
    width: 330px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 2px solid var(--colors-grey, #EBEAED);
}
.form-input::placeholder{
    color: var(--colors-text, rgba(194, 194, 204, 1));
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    padding-left: 24px;
}


.checkbox-checked{
    position: absolute;
    top: 284px;
    left: 70px;  
    display: flex;
    align-items: center;
    gap: 13px;
}


.check-icon{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-color: #25DAC5;
    color: #1E0E62;
    border-radius: 7px;
}

.checked{
    color: var(--colors-text-secondary, rgba(21, 20, 57, 0.40))
}

.middle-fill{
    position: absolute;
    left: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 50px;
    flex-shrink: 0;
}
.middle-fill1{
    top: 338px;
    border-radius: 100px;
    background: var(--action-secondary, #482BE7);
}
.middle-fill2{
    top: 449px;
    border-radius: 100px;
    background: var(--socials-twitter, #1DA1F2);
}

.middle-fill > button{
    color: var(--colors-white, #FFF);
    border: none;
    background-color: transparent;
}


.divider-or{
    position: absolute;
    top: 406.4px;
    left: 69.5px;
    width: 328.003px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divider-icon{
    width: 141.57px;
    height: 3px;
    stroke-width: 2px;
    stroke: var(--colors-grey, #EBEAED);
}
.divider-or > p{
    color: var(--colors-text-secondary, rgba(21, 20, 57, 0.40));
    text-align: center;
    opacity: .9;
}

.sign-in-container{
    position: absolute;
    top: 529px;
    left: 100px;
    display: flex;
    gap: 10px;
}
.sign-in-container > article:first-child{
    color: var(--colors-text-secondary, rgba(21, 20, 57, 0.40));
    text-align: center;
}
.sign-in-container > article:last-child{
    color: var(--action-primary, #25DAC5);
}





/* UTILITY CLASSES */


.buttons{
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.h2_headers{
    font-family: DM Sans;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
}

.h3_headers{
    font-family: DM Sans;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.4px;
}

.h5_headers{
    font-family: DM Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}


p{
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 0;
    margin: 0;
}


article{
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    display: inline-block;
}


